
.mainFrame
{
    height:800px;
    width:1000px;
    border:1px solid black;
    background-color: white;
    margin: 0 auto;

}

.header
{
    height:100px;
    width:100%;
    /* border:1px solid black; */

}

.searchBar
{
    position: relative;
    float: left;
    height:40%;
    width:280px;
    border-radius: 50px;
    border:1px solid gray;
    margin:25px 0px 0px 0px;
}
.imgSearch
{
    position: relative;
    float: left;
    height:15px;
    width:15px;
    top:12px;
    left:10px;
}

.serchInput
{
    position: relative;
    height:25px;
    width:215px;
    margin:5px 0px 0px 15px;
    font-size: 16px;
    border:none;
}
textarea:focus, input:focus{
    outline: none;
}
.serchInput:focus
{
    border: none;
}

.cancleInput
{
    position: relative;
    float: right;
    height:15px;
    width:15px;
    top:12px;
    left:-6px;
}


.loginInfo
{
    position: relative;
    float: right;
    height:30px;
    width:180px;
    /* border:1px solid gray; */
    margin:20px 60px 0px 0px;

}

.loginImg
{
    width:150px;
    margin:0px 0px 0px 0px;

}

.sideBar
{
    position: relative;
    float: left;
    height:70%;
    width:25%;
    /* border:1px solid gray; */


}
.peopleList
{
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    position: relative;
 
}

.listItems
{
    position: relative;
    display:block;
    font-size: 22px;
    font-weight: bold;
    padding:40px 0px 0px 0px;
    border: 1px solid gray;
    margin:0px 0px 0px 0px;
    text-align:left;
    height:70px;

}
.listItems:hover
{
    background-color: beige;
}
.listItems:active
{
    background-color: cornsilk;
    color: blue;
}

.artical
{
    position: relative;
    float: right;
    height:70%;
    width:72%;
}
.listimg
{
    position: relative;
    float: right;
    margin:0px 0px 0px 0px;
}

span
{
    position: relative;
    float: right;

}

.infoPicture
{
    position: relative;
    float: left;
    height:100px; 
    width: 100px;
    border:1px solid gray;
    margin:0px 0px 0px 0px;
    border-radius: 10px;

}
.messagerankBox
{
    position: relative;
    float: left;
    height:80px; 
    width: 150px;
    /* border:1px solid gray; */
    margin:0px 0px 0px 15%;

}

.sandMessage
{
    position: relative;
    float: left;
    height:35px; 
    width: 150px;
    border:1px solid gray;
    margin:0px 0px 0px 0px;
    border-radius: 5px;
    background-color: black;
    color:white;
    text-align: center;
    font-size: 12px;
}

.rankInfo
{
    /* background-image: url("src/assets/PNG/heart.png"); */
    background-position: 0px 37px;
    background-size: 30px;
    background-repeat: repeat-x 5;
    padding: 5px 0px 0px 0px;
    font-size: 22px;
    font-weight: bold;
    background-color:white;
}
.personalInfo 
{
    /* clear: both; */
    position: relative;
    /* float:left; */
    border-left: 2px solid gray;
    margin:140px 0px 0px 0px;
    padding: 0px 0px 0px 10px;
    font-size: 22px;
    height:20px;

}
.likedislikeBox
{
    height:222px;
    width:99%;
    position: relative;
    float:right;
    /* border:1px solid lightgrey;   */
    margin:125px 0px 0px 0px;
}

.likelist
{
    display:block;
    font-size: 16px;
    font-weight: bold;
    padding:10px 0px 0px 0px;
    border: 1px solid lightgrey;
    margin:0px 0px 0px 0px;
    text-align:left;
    height:28px;
    width:99%;

}
.likelist :nth-child(even)
{
    background-color: blue;
}
.dislikelist
{
    display:block;
    font-size: 16px;
    font-weight: bold;
    padding:10px 0px 0px 0px;
    border: 1px solid lightgray;
    margin:0px 0px 0px 0px;
    text-align:left;
    height:28px;
    width:99%;

}
.box1
{
    height:222px;
    width:48%;
    position: relative;
    float: left;
    border:1px solid lightgrey;  
    margin:0px 0px 0px 0px;

}

.box2
{
    height:222px;
    width:48%;
    position: relative;
    float: right;
    border:1px solid lightgrey;  
    margin:0px 0px 0px 0px;
}



@media  (min-width:800px) and (max-width:1100px)
{
    .mainFrame
    {
        height:800px;
        width:100%;
        margin: 0 auto;
    }
.header
{
    height:100px;
    width:99%;
    

}
.searchBar
{
    /* width:25%; */
}
.imgSearch
{
    width:5%;
}

.serchInput
{
    width:20%;
}
.serchInput:active
{
    border: none;
}

.cancleInput
{
    width:5%;
}

.loginInfo
{
    width:50%;

    margin:20px 30px 0px 0px;

}

.sideBar
{
    width:25%;
    /* border:1px solid gray; */
   
}

.likelist
{
    width:99%;

}

.dislikelist
{
    width:99%;

}



}
@media  (min-width:600px) and (max-width:800px)
{
    .mainFrame
    {
        height:800px;
        width:100%;
    
    }

    .imgSearch
    {
        width:5%;

    }
    
.loginInfo
{
    height:30px;
    width:34%;
    /* border:1px solid gray; */
    margin:20px 10px 0px 0px;

}


    
}

@media (max-width:600px)
{
    .mainFrame
    {
        height:800px;
        width:100%;
    
    }
    .loginInfo
    {
        clear: both;
        float: left;
        height:30px;
        width:160px;
        margin:0px 0px 0px 0px;
    
    }
    .sideBar
{
    clear: both;
    float: left;
    width:100%;
    height:180px;
    /* border:1px solid gray; */
   
}
.listItems
{
    font-size: 16px;
    padding:10px 0px 0px 0px;
    border: 1px solid gray;
    height:22Px;

}
.parrow
{
    /* position: relative; */
    height:15px;
    width:15px;
    margin: -8px 3% 0px 0px;
    float: right;

}
/* .infoPicture
{
    clear: both;
    float: right;
    height:100px; 
    width: 100px;
    border:1px solid gray;
    margin:0px 0px 0px 0px;
    border-radius: 10px;

} */

.artical
{
    clear: both;
    float: right;
    height:70%;
    width:99%;
}

.likedislikeBox
{
    height:222px;
    width:98%;
    position: relative;
    float:right;
    /* border:1px solid lightgrey;   */
    margin:125px 0px 0px 0px;
}


}