
<form class ="mainFrame" >
  <div class = "header">
      <div class = "searchBar">
        <a href="" ><img class ="imgSearch" src="assets/PNG/zoom-in.png"></a>
        <input class="serchInput" type="text" placeholder="Search">   
        <a href="" ><img class ="cancleInput" src="assets/PNG/cross.png"></a>
      </div>

 <div class = "loginInfo">
    <span>
      <p class ="loginImg">Peter Hoang
      <a href="" ><img  src="assets/PNG/user.png"></a>
      </p>
    </span>
  </div>
</div>
 
  <div class = "sideBar">
    <ul class="peopleList">
      <li class = "listItems" *ngFor = "let i of data_Info" (click)="LoadMyInfo(i.rating,i.Description,i.img,i.Likes,i.Dislikes)"> {{i.name}} <span class = "parrow"><img src="assets/PNG/play3.png"></span></li>
    </ul>
  </div>

   <div class = "artical">
    <img  class ="infoPicture" src="{{P_Img}}">
     
  
    <div class="messagerankBox">
        <div class="sandMessage">
          <p>SEND MESSAGE</p>
        </div>
      
      <div>
        
        
        <img  class="rankInfo"  *ngFor = "let i of rating" src="assets/PNG/heart.png" id="rank1" height="30px" width="30px" color="red">
     
           
      </div>


    </div>
 
  <div class="personalInfo">
      <p>{{desc}}</p>
  </div>

 <div class = "likedislikeBox">
     <div class = "box1" >
       <p style="font-size: 20px;font-weight: bold;">Likes</p>
      <p class = "likelist" *ngFor="let i of like">{{i}}</p>
    </div> 
 <div class="box2">
    <p style="font-size: 20px;font-weight: bold;">Dislikes</p>
    <p class = "dislikelist" *ngFor="let i of dislike">{{i}}</p>
  </div>
  </div>
  <div>
  
  </div>


</div>
</form>